<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{'COMMON.ManagementCentre'|translate}}<small> &nbsp;
                {{'PRODUCTCONFIG.ProductConfiguration'|translate}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/main/code-maintenance']">{{'COMMON.Home'|translate}}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>{{'COMMON.ManagementCentre'|translate}}<i class="fa fa-angle-right"></i></li>
            <li> {{'PRODUCTCONFIG.ProductConfigurationDetails'|translate}}</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">

            <div class="portlet-title">
                <div class="caption"><i
                        class="fa fa-reorder"></i>{{'PRODUCTCONFIG.ProductConfigurationDetails'|translate}} </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>

                </div>
            </div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">
                                        {{'PRODUCTCONFIG.ConfigurationFor'|translate}} :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">{{productConfigDetails?.configCode}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label
                                        class="col-md-3 control-label">{{'PRODUCTCONFIG.ConfigurationValue'|translate}}
                                        :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">{{productConfigDetails?.configValue}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label
                                        class="col-md-3 control-label">{{'PRODUCTCONFIG.ConfigurationDescription'|translate}}
                                        :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">{{productConfigDetails?.configDesc}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'PRODUCTCONFIG.System'|translate}}
                                        :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static" *ngIf="productConfigDetails?.system==='ALL'">All</p>
                                        <p class="form-control-static" *ngIf="productConfigDetails?.system==='APL'">Applicant Portal</p>
                                        <p class="form-control-static" *ngIf="productConfigDetails?.system==='APR'">Approver Portal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'COMMON.createdBy'|translate}}
                                        :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">{{productConfigDetails?.createdBy}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'COMMON.createdDate'|translate}}
                                        :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">
                                            {{productConfigDetails?.createdDate|date:'dd/MM/yyyy
                                            HH:mm:ss'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row" *ngIf="productConfigDetails?.updatedBy">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'COMMON.updatedBy'|translate}}
                                        :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">{{productConfigDetails?.updatedBy}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row" *ngIf="productConfigDetails?.updatedDate">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'COMMON.updatedDate'|translate}}
                                        :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">
                                            {{productConfigDetails?.updatedDate|date:'dd/MM/yyyy
                                            HH:mm:ss'}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{'COMMON.Status'|translate}} :</label>
                                    <div class="col-md-4">
                                        <p class="form-control-static">
                                            {{productConfigDetails?.status=='Y'?'Active':'Inactive'}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="text-center">
                                <button type="button" class="btn default"
                                    [routerLink]="['/main/product-config']">{{'COMMON.Close'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>