<body>
    <div class="tm-container">
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">
                                <div class="logo">
                                    <img src="assets/img/Min.png" alt="" style="width: 180px;">
                                </div>
                            </h1>
                            <p class="tm-slogon"></p>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <!-- <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                          data-toggle="collapse" data-target="#navbar-nav" 
                          aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                          <span><i class="fas fa-bars"></i></span>
                      </button> -->
                    </nav>
                </div>
            </div>

            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">BIENVENU SUR LA PLATFORME DE VISA ELECTRONIQUE </h2>
                        <p class="mb-5"></p>
                        <hr class="mb-5">
                        <p class="mb-5"></p>
                        <br /><br />
                        <a href="javascript:;" (click)="launchApplication()" class="btn btn-primary">Se Connecter</a>
                    </section>
                </main>
            </div>
            <br>
            <p class="ministre">DIRECTION GÉNÉRALE<br>DE LA POLICE NATIONALE</p>
        </div>

        <div class="tm-row">
            <div class="tm-col-left text-center"></div>
             <!-- <div class="tm-col-left text-center">
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>
            </div> -->
            

            <div class="tm-col-right tm-col-footer text-right">
                
                <footer class="tm-site-footer text-right" style="max-width: none!important;">
                    <p class="mb-0">&copy; 2018 E-visa.

                        | <a rel="nofollow" target="_parent" href="#" class="tm-text-link">Hypercube</a></p>
                </footer>
            </div>
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>


</body>