<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{'COMMON.ManagementCentre'|translate}}<small> &nbsp; {{'CODES.CodeMaintenance'|translate}}</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/main/code-maintenance']">{{'COMMON.Home'|translate}}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li> {{'COMMON.ManagementCentre'|translate}}<i class="fa fa-angle-right"></i></li>
            <li *ngIf='isNew'>
                {{'CODES.Add'|translate}}
                {{this.getToken("description")}}</li>
            <li *ngIf='!isNew'>
                    {{'CODES.Update'|translate}}
                    {{this.getToken("description")}}</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">

            <div class="portlet-title">
                <div class="caption" *ngIf='isNew'><i class="fa fa-reorder"></i> {{'CODES.Add'|translate}}
                    {{this.getToken("description")}}
                </div>
                <div class="caption" *ngIf='!isNew'><i class="fa fa-reorder"></i> {{'CODES.Update'|translate}}
                    {{this.getToken("description")}}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>

                </div>
            </div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" #codeDetailForm="ngForm"
                    (ngSubmit)='submitForm(codeDetailForm,codeDetails)'>
                    <div class="form-body">
                        <div class="form-group">
                            <!-- Label for Code-->
                            <label class="col-md-3 control-label">{{'CODES.Code'|translate}}<span
                                    class="required">*</span></label>
                            <div class="col-md-4">
                                <input [disabled]="!isNew" class='form-control text' autocomplete="off" type="text"
                                    name="code" [(ngModel)]="codeDetails.code" placeholder="{{'CODES.Code'|translate}}"
                                    id="code" required (keydown)="AllowCharAndUnderScore($event)" #code="ngModel" />
                                <div class="error-block" *ngIf="((submitted || code.touched) && code.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                                <div class="error-block" *ngIf="result">
                                    {{'COMMON.ERRORMESSAGES.Constraint'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Label for Description-->
                            <label class="col-md-3 control-label">{{'CODES.Description'|translate}}<span
                                    class="required">*</span></label>
                            <div class="col-md-4">
                                <textarea class='form-control ' autocomplete="off" name="description"
                                    [(ngModel)]="codeDetails.description"
                                    placeholder="{{'CODES.Description'|translate}}" id="description" required
                                    #description="ngModel" rows="3" maxlength="100"></textarea>

                                <div class="error-block"
                                    *ngIf="((submitted || description.touched) && description.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Label for Description In French-->
                            <label class="col-md-3 control-label">{{'CODES.DescriptionInFrench'|translate}}<span
                                    class="required">*</span></label>
                            <div class="col-md-4">
                                <textarea class='form-control ' autocomplete="off" name="descriptionOther"
                                    [(ngModel)]="codeDetails.descriptionOther"
                                    placeholder="{{'CODES.DescriptionInFrench'|translate}}" id="descriptionOther"
                                    required #descriptionOther="ngModel" rows="3" maxlength="100"></textarea>
                                <div class="error-block"
                                    *ngIf="((submitted || descriptionOther.touched) && descriptionOther.invalid)">

                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Label for Status-->
                            <label class="col-md-3 control-label"> {{'COMMON.Status'|translate}} <span
                                    class="required">*</span></label>
                            <div class="col-md-4">
                                <ng-select [items]="statusDetails" class="chosen-select"
                                    placeholder="  {{'COMMON.Status'|translate}}" [clearable]='true'
                                    [searchable]='false' [(ngModel)]="codeDetails.active" bindLabel="name"
                                    bindValue="code" [dropdownPosition]="'auto'" name="active" #active="ngModel"
                                    required>
                                </ng-select>
                                <span class="error-block" *ngIf="((submitted || active.touched) && active.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </span>
                            </div>
                        </div>
                        <div class="form-actions fluid">
                            <div class="text-center">
                                <button type="submit" class="btn blue" *ngIf="isNew">{{'COMMON.Submit'|translate}}
                                </button>
                                <button type="submit" class="btn blue"
                                    *ngIf="!isNew">{{'COMMON.Update'|translate}}</button>
                                &nbsp;
                                &nbsp;
                                <button type="button" class="btn default" [routerLink]="['/main/code-maintenance']">
                                    {{'COMMON.Cancel'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>