/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

.mydivclass {
  overflow-x: hidden;
  overflow-y: auto;
}

.error-block {
  font-size: 13px;
  color: #b94a48;
  margin-left: 5px;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  /* border-radius: 4px; */
  border: 1px solid #ccc;
  min-height: 36px;
  align-items: center;
}

td.dataTables_empty {
  text-align: center;
}

.portlet.box > .portlet-title > .tools > a.reload,
.portlet.solid > .portlet-title > .tools > a.refresh {
  background-image: url(./assets/img/portlet-reload-icon-white.png);
}

/* Loader css */

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 1em;
  width: 1em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "SFPRO-semibold";
  src: url("./assets/fonts/SFPro-Semibold.ttf");
}

@font-face {
  font-family: "SFPRO-semibold-italic";
  src: url("./assets/fonts/SFPro-SemiboldItalic.ttf");
}

@font-face {
  font-family: "SFPRO-bold";
  src: url("./assets/fonts/SFPro-Bold.ttf");
}

@font-face {
  font-family: "SFPRO-bold-italic";
  src: url("./assets/fonts/SFPro-BoldItalic.ttf");
}

@font-face {
  font-family: "SFPRO-medium";
  src: url("./assets/fonts/SFPro-Medium.ttf");
}

@font-face {
  font-family: "SFPRO-medium-italic";
  src: url("./assets/fonts/SFPro-MediumItalic.ttf");
}

*,
*::before,
*::after {
  transition: all 0.25s;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 95% !important;
}

@media (min-width: 1280px) {
  body {
    font-size: 115%;
  }
}

body {
  font-family: "SFPRO-semibold";
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  white-space: nowrap;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.sidebarower {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 48px;
    background: #11101d;
    z-index: 1;
    transition: all 0.5s ease;
}

.sidebarower.open {
    width: 255px;
}

.sidebarower .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.sidebarower .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebarower .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
    display: none;
    padding: 10px 14px;
}

.sidebarower.open .logo-details .icon,
.sidebarower.open .logo-details .logo_name {
    opacity: 1;
}

.sidebarower.open .logo-details .logo_name {
    display: block;
}

.sidebarower .logo-details #btn {
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebarower i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebarower .nav-list {
    margin-top: 16px;
    height: 100%;
    /* overflow-y: auto; */
    padding: 0;
    padding-bottom: 160px;
}

.sidebarower li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebarower li .tooltiper {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 2;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebarower li:hover .tooltiper {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebarower.open li .tooltiper {
    display: none;
}

.sidebarower li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101d;
}

.sidebarower li a:hover,
.sidebarower li.active a {
    background: #fff;
}

.sidebarower li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebarower.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebarower li a:hover .links_name,
.sidebarower li a:hover i,
.sidebarower li.active a .links_name,
.sidebarower li.active a i {
    transition: all 0.5s ease;
    color: #11101d;
}

.sidebarower li i {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebarower li.profile {
    position: fixed;
    height: 60px;
    width: 48px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

.sidebarower.open li.profile {
    width: 255px;
}

.sidebarower li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebarower li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebarower li.profile .name,
.sidebarower li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebarower li.profile .job {
    font-size: 12px;
}

.sidebarower .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebarower.open .profile #log_out {
    width: 50px;
    background: none;
}

@media (max-width: 420px) {
    /* .sidebarower li .tooltiper {
        display: none;
    } */
}