
body {
    background: #f2f2f2;
}

.centered {
    position: fixed;
    top: 50%;
    left: 60%;
    width: 500px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: #ffff;
    border: #192c54 5px solid;
    padding: 5px;
    z-index: 100;
    border-radius: 20px;
}

.check {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -60px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #192c54;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.check i {
    font-size: 58px;
    position: relative;
    top: 25px;
}

.content {
    text-align: center;
    padding-top: 25px;
}

.content a {
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: #d7141a;
    transition: all ease-in-out 0.3s;
}

.content a:hover {
    text-decoration: none;
    background: #000;
}

.content .modal-footer {
    border: none;
    padding-bottom: 20px;
}

.btn-success {
    color: #fff;
    background-color: #192c54;
    border-color: #192c54;
}