<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{'MODULE.Manage Module'|translate}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/main/code-maintenance']">{{'COMMON.Home' | translate}}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>{{'MODULE.Module Management'|translate}}<i class="fa fa-angle-right"></i></li>
            <li *ngIf='isNew'>{{'COMMON.AddNew'|translate}}</li>
            <li *ngIf='!isNew'>{{'MODULE.Edit Module'|translate}}</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">

            <div class="portlet-title">
                <div class="caption" *ngIf='isNew'><i class="fa fa-reorder"></i>{{'COMMON.AddNew'|translate}}
                </div>
                <div class="caption" *ngIf='!isNew'><i class="fa fa-reorder"></i>{{'MODULE.Edit Module'|translate}}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal" #moduleDetailsForm="ngForm"
                    (ngSubmit)='submitForm(moduleDetailsForm, moduleDetails)'>

                    <div class="form-body">

                        <!-- label for menu code -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'MODULE.Module Code'|translate}}<span
                                    class="required">*</span> </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="moduleCode" id='moduleCode'
                                    [(ngModel)]="moduleDetails.moduleCode" #moduleCode='ngModel'
                                    placeholder="{{'MODULE.Module Code'|translate}}" required>
                                <div class="error-block"
                                    *ngIf="((submitted || moduleCode.touched) && moduleCode.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- label for menu description -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'MODULE.Module Description'|translate}}<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <textarea type="text" class="form-control" name="moduleDesc" rows="5"
                                    [(ngModel)]="moduleDetails.moduleDesc" #moduleDesc="ngModel" id='moduleDesc'
                                    placeholder="{{'MODULE.Module Description'|translate}}" required>
                                </textarea>
                                <div class="error-block"
                                    *ngIf="((submitted || moduleDesc.touched) && moduleDesc.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- label for menu description in french -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'MODULE.Module Description Other'|translate}}<span class="required">*</span> </label>
                            <div class="col-md-4">
                                <textarea type="text" class="form-control" name="moduleDescOther" rows="5"
                                    [(ngModel)]="moduleDetails.moduleDescOther" id='moduleDescOther'
                                    #moduleDescOther="ngModel"
                                    placeholder="{{'MODULE.Module Description Other'|translate}}" required>
                                </textarea>
                                <div class="error-block"
                                    *ngIf="((submitted || moduleDescOther.touched) && moduleDescOther.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- label for Order Number -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'MODULE.Order Number'|translate}}<span
                                    class="required">*</span> </label>
                            <div class="col-md-4">
                                <input type="number" class="form-control" name="orderNo"
                                    [(ngModel)]="moduleDetails.orderNo" id="orderNo" #orderNo="ngModel"
                                    placeholder="{{'MODULE.Order Number'|translate}}" required>
                                <div class="error-block" *ngIf="((submitted || orderNo.touched) && orderNo.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>


                        <!-- label for status -->
                        <div class="form-group">
                            <label class="col-md-3 control-label"> {{'COMMON.Status'|translate}} <span
                                    class="required">*</span></label>
                            <div class="col-md-4">
                                <ng-select [items]="statusDetails" class="chosen-select" [clearable]='true'
                                    [searchable]='false' placeholder="Select {{'COMMON.Status'|translate}}"
                                    [(ngModel)]="moduleDetails.active" bindLabel="name" bindValue="code" name="active"
                                    required #active="ngModel">
                                </ng-select>
                                <div class="error-block" *ngIf="((submitted || active.touched) && active.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>




                        <div class="form-actions fluid">
                            <div class="text-center">
                                <button type="submit" class="btn blue" *ngIf='isNew'>
                                    {{'COMMON.Submit'|translate}}</button>
                                <button type="submit" class="btn blue" *ngIf='!isNew'>
                                    {{'COMMON.Update'|translate}}</button>
                                &nbsp;&nbsp;&nbsp;
                                <button type="button" [routerLink]="['/main/module/module-list']"
                                    routerLinkActive="active" class="btn default">{{'COMMON.Cancel'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>