<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{'VISA.Manage Visa' | translate}}
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/main/code-maintenance']">{{'COMMON.Home' | translate}}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>{{'VISA.Visa Management' | translate}}<i class="fa fa-angle-right"></i></li>
            <li *ngIf="isNew">{{ 'VISA.Add New Visa Type'|translate}}</li>
            <li *ngIf="!isNew">{{ 'VISA.Edit Visa Type'|translate}}</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">

            <div class="portlet-title">

                <div class="caption" *ngIf="isNew"><i class="fa fa-reorder"></i>{{ 'VISA.Add New Visa Type'|translate}}
                </div>
                <div class="caption" *ngIf="!isNew"><i class="fa fa-reorder"></i>{{ 'VISA.Edit Visa Type'|translate}}
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" #visaDetailsForm="ngForm"
                    (ngSubmit)='submitForm(visaDetailsForm, visaDetails)'>
                    <div class="form-body">

                        <!-- label for visa Type -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'VISA.Visa Type'|translate}}<span
                                    class="required">*</span> </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="visaType"
                                    placeholder="{{'VISA.Visa Type'|translate}}" id="visaType"
                                    [(ngModel)]="visaDetails.visaType" #visaType="ngModel" maxlength="25" required
                                    [disabled]="!isNew" (keydown)="donotAllowSpace($event)">
                                <div class="error-block" *ngIf="((submitted || visaType.touched) && visaType.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- label for Visa Description -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'VISA.Visa Description'|translate}}<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="visaDescription"
                                    placeholder="{{'VISA.Visa Description'|translate}}" id="visaDescription"
                                    [(ngModel)]="visaDetails.visaDescription" #visaDescription="ngModel" maxlength="100"
                                    required>
                                <div class="error-block"
                                    *ngIf="((submitted || visaDescription.touched) && visaDescription.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- label for visa Description in french -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'VISA.Visa Description in French'|translate}}<span
                                    class="required">*</span> </label>
                            <div class="col-md-4 ">
                                <input type="text" class="form-control"
                                    placeholder="{{'VISA.Visa Description in French'|translate}}"
                                    name="visaDescriptionOther" id="visaDescriptionOther"
                                    [(ngModel)]="visaDetails.visaDescriptionOther" #visaDescriptionOther="ngModel"
                                    required maxlength="100">
                                <div class="error-block"
                                    *ngIf="((submitted || visaDescriptionOther.touched) && visaDescriptionOther.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>


                        <!-- label for visa Fee -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'VISA.Visa Fee'|translate}}<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="{{'VISA.Visa Fee'|translate}}"
                                    name="visaFee" id="visaFee" [(ngModel)]="visaDetails.visaFee" #visaFee="ngModel"
                                    maxlength="5" required (keydown)="allowNumberAndSpace($event,'V')">
                                <div class="error-block" *ngIf="(((submitted || visaFee.touched) && visaFee.invalid))">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                                <div class="error-block" *ngIf="!result">{{'VISA.ERRORMESSAGE.validation'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- label for Express visa allowed -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'VISA.Express Visa Allowed'|translate}} </label>
                            <div class="col-md-4">
                                <input type="checkbox" name="expressVisaAllowed" id="expressVisaAllowed"
                                    [(ngModel)]="visaDetails.expressVisaAllowed" #expressVisaAllowed="ngModel"
                                    bindLabel="name" bindValue="code" (change)="onChange($event)">
                                {{expressVisa.name}}
                                <br>

                            </div>
                        </div>

                        <!-- label for Express visa Fee -->
                        <div class="form-group" *ngIf="value">
                            <label class="col-md-3 control-label">{{'VISA.Express Visa Fee'|translate}}<span
                                    class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control"
                                    placeholder="{{'VISA.Express Visa Fee'|translate}}" name="expressVisaFee"
                                    id="expressVisaFee" [(ngModel)]="visaDetails.expressVisaFee"
                                    #expressVisaFee="ngModel" (keydown)="allowNumberAndSpace($event,'EV')" maxlength="5"
                                    required>
                                <div class="error-block"
                                    *ngIf="((submitted || expressVisaFee.touched) && expressVisaFee.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                                <div class="error-block" *ngIf="!select">{{'VISA.ERRORMESSAGE.validation'|translate}}
                                </div>
                            </div>
                        </div>


                        <!-- label for Currency -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="form-field-1">{{'VISA.Currency'|translate}}<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <ng-select [items]="currencyDetails" class="chosen-select"
                                    placeholder="Select {{'VISA.Currency'|translate}}" [clearable]='true'
                                    [searchable]='true' [(ngModel)]="visaDetails.currency" bindLabel="description"
                                    bindValue="code" [dropdownPosition]="'auto'" name="currency" #currency="ngModel"
                                    required>
                                </ng-select>
                                <div class="error-block" *ngIf="((submitted || currency.touched) && currency.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- label for entry type -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="form-field-1">{{'VISA.EntryType'|translate}}<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <ng-select [items]="entryTypeDetails" class="chosen-select"
                                    placeholder="Select {{'VISA.EntryType'|translate}}" [clearable]='true'
                                    [searchable]='true' [(ngModel)]="visaDetails.entryType" bindLabel="name"
                                    bindValue="code" [dropdownPosition]="'auto'" name="entryType" #entryType="ngModel"
                                    required>
                                </ng-select>
                                <div class="error-block"
                                    *ngIf="((submitted || entryType.touched) && entryType.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>

                        <!-- labe; for visa duration -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{'VISA.Visa Duration'|translate}}<span
                                    class="required">*</span> </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="visaDuration"
                                    placeholder="{{'VISA.Visa Duration'|translate}}" id="visaDuration"
                                    [(ngModel)]="visaDetails.visaDuration" #visaDuration="ngModel" maxlength="9"
                                    required (keypress)="AllowNumbers($event)">
                                <div class="error-block"
                                    *ngIf="((submitted || visaDuration.touched) && visaDuration.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </div>
                            </div>
                        </div>


                        <!-- label for status -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="form-field-1"> {{'COMMON.Status'|translate}}
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-4">
                                <ng-select [items]="statusDetails" class="chosen-select"
                                    placeholder="Select {{'COMMON.Status'|translate}}" [clearable]='true'
                                    [searchable]='false' [(ngModel)]="visaDetails.status" bindLabel="name"
                                    bindValue="code" [dropdownPosition]="'auto'" name="status" #status="ngModel"
                                    required>
                                </ng-select>
                                <span class="error-block" *ngIf="((submitted || status.touched) && status.invalid)">
                                    {{'COMMON.ERRORMESSAGES.Required'|translate}}
                                </span>
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="text-center">
                                <button type="submit" class="btn blue" *ngIf='isNew'>
                                    {{'COMMON.Submit'|translate}}</button>
                                <button type="submit" class="btn blue" *ngIf='!isNew'>
                                    {{'COMMON.Update'|translate}}</button>

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [routerLink]="['/main/visa']" type="button"
                                    class="btn default">{{'COMMON.Cancel'|translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>