.is-invalid {
  border: 1px solid #b94a48;
}

#hide input[type=file] {
  display: none;
  margin: 10px;
}

#hide input[type=file]+label {
  display: inline-block;
  margin: 20px;
  padding: 4px 32px;
  background-color: #FFFFFF;
  border: solid 1px #666F77;
  border-radius: 6px;
  color: #666F77;
}

#hide input[type=file]:active+label {
  background-image: none;
  background-color: #2D6C7A;
  color: #FFFFFF;
}

.text-success {
  color: #27994d;
}

.labelbold{
  font-weight: bold;
}