.modal-dialog {
  position: absolute;
  top: -1px;
  margin-left: 450px;
}

.modal-content {
  height: 600px;
  overflow-y: auto;
  display: flex;
}

.modal-header {
  min-height: 16.428571429px;
  padding: 22px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 0.428571;
}

.imageIcon .fa-repeat {
  position: absolute;
  top: 30px;
  left: 205px;
  font-size: 20px;
  color: #ffff;
  border-style: groove;
  border-color: rgba(238, 226, 226, 0.8);
  border-radius: 7px;
  height: 35px;
  width: 35px;
  padding: 7px;
  background-color: rgb(0 0 0 / 27%);
}

.imageIcon .fa-undo {
  position: absolute;
  top: 30px;
  left: 250px;
  font-size: 20px;
  color: #ffff;
  border-style: groove;
  border-color: rgba(238, 226, 226, 0.8);
  border-radius: 7px;
  height: 35px;
  width: 35px;
  padding: 7px;
  background-color: rgb(0 0 0 / 27%);
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-top: -9px !important;
}