.content{   
    background-color: #fff;
    width: 50%;
    margin:auto;
    margin-bottom: 0px;
    /*margin-right: 330px;*/
    margin-top: 40px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 15px;
    border-radius: 30px;
}