<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{'COMMON.ManagementCentre'|translate}}<small> &nbsp; {{'CODES.CodeMaintenance'|translate}} </small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/main/code-maintenance']">{{'COMMON.Home'|translate}} </a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li> {{'COMMON.ManagementCentre'|translate}}<i class="fa fa-angle-right"></i></li>
            <li>{{'CODES.CodeMaintenance'|translate}}</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<form #filterForm="ngForm">
    <div class="row">
        <div class="col-md-4">
            <div class="button-continer text-left">
                <ng-select [items]="codesArray" class="my-calendar" bindLabel="description" bindValue="code"
                    [searchable]='false' [clearable]='false' name="codeType" #codeType="ngModel"
                    placeholder="{{'CODES.SelectCodeType'|translate}}" [(ngModel)]="selectCode.codeType"
                    (change)="onChange($event)">
                </ng-select>
            </div>
        </div>
    </div>
</form>
<br> <br>
<!-- BEGIN DASHBOARD STATS -->
<div class="row" *ngIf="isSelected">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-edit"></i>
                    {{'CODES.Manage'|translate}} {{listHeader}}</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" style="position: relative;
                        top: -5px;
                        color: #e5e5e5;" (click)="refreshPage()"><i class="fa fa-refresh"></i></a>
                    <a style="color: white;" class="nav-link pull-right" href="javascript:;" data-toggle="collapse"
                        href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="collapse" id="collapseExample">
                    <div class="portlet-body form">
                        <div id="filterBlock" class="filter-block animated fadeInDown">
                            <form #filterForm="ngForm" (ngSubmit)="applyFilter()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <!-- Label for Code-->
                                            <label> {{'CODES.Code'|translate}}</label>
                                            <input class='form-control text' type="text" name="code"
                                                [(ngModel)]="filterObj.code" placeholder=" {{'CODES.Code'|translate}}"
                                                id="code" required #code="ngModel" autocomplete="off"
                                                (keydown)="AllowChar($event)" />
                                        </div>
                                        <div class="col-md-4">
                                            <!-- Label for Description-->
                                            <label> {{'CODES.Description'|translate}}</label>
                                            <input class='form-control text' type="text" name="desc"
                                                [(ngModel)]="filterObj.desc"
                                                placeholder="{{'CODES.Description'|translate}}" id="desc" required
                                                #desc="ngModel" autocomplete="off" />
                                        </div>
                                        <div class="col-md-4">
                                            <!-- Label for Status-->
                                            <label> {{'COMMON.Status'|translate}}</label>
                                            <ng-select [items]="statusDetails" class="chosen-select"
                                                placeholder="{{'COMMON.Status'|translate}}" [clearable]='true'
                                                [searchable]='false' [(ngModel)]="filterObj.active" bindLabel="name"
                                                bindValue="code" [dropdownPosition]="'auto'" name="active"
                                                #active="ngModel" required>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn blue pull-right">
                                                    {{'COMMON.ApplyFilter'|translate}}
                                                </button>

                                                <button type="button" *ngIf="isFilterApplied" class="btn  pull-right"
                                                    (click)="resetFilter()"> {{'COMMON.ResetFilter'|translate}}
                                                </button> &nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-toolbar">
                    <div class="btn-group">
                        <a href="javascript:;"><button class="btn green"
                                [routerLink]="['/main/code-maintenance/codes-detail/','new']">
                                {{'COMMON.AddNew'|translate}} <i class="fa fa-plus"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                        <thead>
                            <tr>
                                <th>{{'CODES.Code'|translate}}</th>
                                <th>{{'CODES.Description'|translate}}</th>
                                <th>{{'CODES.DescriptionInFrench'|translate}}</th>
                                <th>{{'COMMON.Status'|translate}}</th>
                                <th>{{'COMMON.Action'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ngx-ui-loader hasProgressBar=false fgsType="three-strings"></ngx-ui-loader>
                            <tr class="odd gradeX" *ngFor="let data of codesList">
                                <td>{{data?.code}}</td>
                                <td>{{data?.description}}</td>
                                <td>{{data?.descriptionOther}}</td>
                                <td *ngIf="data?.active=='Y'"><span class="label label-sm label-success">Active</span>
                                </td>
                                <td *ngIf="data?.active=='N'"><span class="label label-sm label-warning">InActive</span>
                                </td>
                                <td><a href="javascript:;"
                                        [routerLink]="['/main/code-maintenance/codes-detail/',data?.id]"><i
                                            class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                    <a href="javascript:;"
                                        [routerLink]="['/main/code-maintenance/codes-view/',data?.id]"><i
                                            class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                            <tr class="odd" *ngIf="(!codesList?.length) && (!loading)">
                                <td style="text-align: center" colspan="10" class="dataTables_empty"><b>
                                        {{'RECORDS.NoRecords'|translate}}</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" *ngIf='totalItem>0'>
                    <div class="col-md-4 col-sm-12">
                        <div class="btn-group">
                            <ng-select (change)="rangeChanged(pagesize)" [items]="rangeList" bindLabel="name"
                                bindValue="id" placeholder="Select" [(ngModel)]="pagesize"
                                [ngModelOptions]="{standalone: true}" [clearable]='false' [searchable]='false'
                                [dropdownPosition]="'top'">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="dataTables_info" id="sample_editable_1_info">{{'PAGINATION.Showing'|translate}}
                            {{(number*size) + 1}} {{'PAGINATION.to'|translate}}
                            {{(number*size) + noofelements}} {{'PAGINATION.of'|translate}} {{totalElements}}
                            {{'PAGINATION.entries'|translate}}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="dataTables_paginate paging_bootstrap">
                            <pagination class="page" [boundaryLinks]="showBoundaryLinks" [rotate]="'true'"
                                [itemsPerPage]='pagesize' name="currentPage" ngDefaultControl [totalItems]="totalItem"
                                [maxSize]="5" [(ngModel)]="currentPage" [ngModelOptions]="{standalone: true}"
                                (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                                firstText="&laquo;" lastText="&raquo;">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE -->