<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            {{'PASSWORD.Change Password'|translate}}<small></small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/main/code-maintenance']"
                    *ngIf="this.getToken('Role')==='ADM'">{{'COMMON.Home'|translate}}</a>

                <a [routerLink]="['/main/dashboardimo']"
                    *ngIf="this.getToken('Role')==='DMM'">{{'COMMON.Home'|translate}}</a>

                <a href="javascript:;"
                    *ngIf="(this.getToken('Role')==='DM'|| this.getToken('Role')=='SBCO' || this.getToken('Role')=='BCO')"
                    [routerLink]="['/main/dashboard']">{{'COMMON.Home'|translate}}</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>{{'PASSWORD.Change Password'|translate}}</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-reorder"></i>{{'PASSWORD.Change Password'|translate}}</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>


    <div class="portlet-body form">
        <form action="#" class="form-horizontal" #resetForm='ngForm' (ngSubmit)='resetPassword(resetForm,data)'>
            <div class="form-body">
                <div class="col-12">
                    <span style="
              color: mediumseagreen;font-size: 13px">{{'PASSWORD.Your password'|translate}} <b>8-20</b>
                        {{'PASSWORD.characters'|translate}} <b>(!, @, $, *)</b>, {{'PASSWORD.and must not
                        contain'|translate}} </span>
                </div><br>
                <ngx-ui-loader hasProgressBar=true fgsType="three-strings"></ngx-ui-loader>

                <div class="form-group">
                    <label class="col-md-3 control-label">{{'PASSWORD.Old Password'|translate}}<span
                            class="required">*</span></label>
                    <div class="col-md-4">
                        <input class='form-control' placeholder="{{'PASSWORD.Old Password'|translate}}"
                            [type]="isValue?'text':'password'" name="secretKey" [(ngModel)]="data.secretKey"
                            autocomplete="off" id="secretKey" required #secretKey="ngModel" minlength="8" maxlength="20"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[@!$*]).{8,20}" appBlockCopyPaste>



                        <span style="position:absolute; right:28px;top:8px; cursor: pointer; "
                            (click)="onClick('secret')">
                            <i class="fa fa-eye" *ngIf="!isValue"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isValue"></i>
                        </span>

                        <div class="error-block " *ngIf="((submitted || secretKey.touched ) && secretKey.invalid)">
                            {{'COMMON.ERRORMESSAGES.Required'|translate}}
                        </div>

                        <div class="error-block " *ngIf="((secretKey.touched || secretKey.dirty) && secretKey.invalid)">
                            {{'EMPLOYEE.ERRORMESSSAGE.PasswordValidation'|translate}}
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">{{'PASSWORD.New Password'|translate}}<span
                            class="required">*</span></label>
                    <div class="col-md-4">
                        <input class='form-control' placeholder="{{'PASSWORD.New Password'|translate}}"
                            [type]="show?'text':'password'" name="newsecretkey" [(ngModel)]="data.newsecretkey"
                            autocomplete="off" id="newsecretkey" required #newsecretkey="ngModel"
                            (keyup)="checkPassword('PSW')" pattern="(?=.*\d)(?=.*[a-z])(?=.*[@!$*]).{8,20}"
                            maxlength="20" appBlockCopyPaste>


                        <span style="position:absolute; right:28px;top:8px; cursor: pointer; "
                            (click)="onClick('newsecret')">
                            <i class="fa fa-eye" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                        </span>



                        <div class="error-block" *ngIf="((submitted || newsecretkey.touched) && newsecretkey.invalid )">
                            {{'COMMON.ERRORMESSAGES.Required'|translate}}
                        </div>
                        <div class="error-block"
                            *ngIf="((newsecretkey.touched || newsecretkey.dirty) && newsecretkey.invalid )">
                            {{'EMPLOYEE.ERRORMESSSAGE.PasswordValidation'|translate}}
                        </div>
                        <div class="error-block"
                            *ngIf="((newsecretkey.touched || newsecretkey.dirty) && newsecretkey.valid &&  (data.secretKey == data.newsecretkey))">
                            {{'PASSWORD.ERRORMESSAGE.newPassword'| translate}}
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">{{'PASSWORD.Confirm New Password'|translate}}<span
                            class="required">*</span></label>
                    <div class="col-md-4">
                        <input class='form-control' placeholder="{{'PASSWORD.Confirm New Password'|translate}}"
                            [type]="isShow?'text':'password'" name="confirmNewsecretkey"
                            [(ngModel)]="data.confirmNewsecretkey" autocomplete="off" id="confirmNewsecretkey"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[@!$*]).{8,20}" maxlength="20" required
                            #confirmNewsecretkey="ngModel" appBlockCopyPaste (keyup)="checkPassword('CNP')">



                        <span style="position:absolute; right:28px;top:8px; cursor: pointer; "
                            (click)="onClick('cnfrmnew')">
                            <i class="fa fa-eye" *ngIf="!isShow"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isShow"></i>
                        </span>

                        <div class="error-block"
                            *ngIf="((submitted || confirmNewsecretkey.touched) && confirmNewsecretkey.invalid)">
                            {{'COMMON.ERRORMESSAGES.Required'|translate}}
                        </div>
                        <div class="error-block"
                            *ngIf="((confirmNewsecretkey.touched || confirmNewsecretkey.dirty) && confirmNewsecretkey.invalid )">
                            {{'EMPLOYEE.ERRORMESSSAGE.PasswordValidation'|translate}}
                        </div>

                        <div class="error-block"
                            *ngIf="(( confirmNewsecretkey.touched || confirmNewsecretkey.dirty) && confirmNewsecretkey.valid && (data.confirmNewsecretkey != data.newsecretkey))">
                            {{'PASSWORD.ERRORMESSAGE.confirmPassword'| translate}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions fluid">
                <div class="text-center">
                    <button type="submit" class="btn blue"> {{'COMMON.Submit'|translate}} </button> &nbsp;
                    <button type="button" class="btn default" *ngIf="this.getToken('Role')==='DMM'"
                        [routerLink]='["/main/dashboardimo"]'>{{'COMMON.Cancel'|translate}}</button>
                    <button type="button" class="btn default" *ngIf="this.getToken('Role')==='ADM'"
                        [routerLink]='["/main/code-maintenance"]'>{{'COMMON.Cancel'|translate}}</button>
                    <button type="button" class="btn default"
                        *ngIf="this.getToken('Role')!='DMM' && this.getToken('Role')!='ADM'"
                        [routerLink]='["/main/dashboard"]'>{{'COMMON.Cancel'|translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ngx-ui-loader hasProgressBar=true fgsType="three-strings"></ngx-ui-loader>