.forgot-content {
    float: right;
    background-color:#fff; 
    width: 360px;
    margin: 0 auto; 
    margin-bottom: 0px;
     margin-right: 30px;
    padding: 30px;  
    padding-top: 20px;  
    padding-bottom: 15px;  
    border-radius:30px;
  }
  .login-content {
      float: right;
      background-color:#fff; 
      width: 360px;
      margin: 0 auto; 
      margin-bottom: 0px;
       margin-right: 590px;
      padding: 30px;  
      padding-top: 20px;  
      padding-bottom: 15px;  
      border-radius:30px;
    }
  
  .register-content {
      float: right;
      background-color:#fff; 
      width: 670px;
      margin: 0 auto; 
      margin-bottom: 0px;
       margin-right: 30px;
      padding: 30px;  
      padding-top: 20px;  
      padding-bottom: 15px;  
      border-radius:30px;
    }
  
    /* .login {
      background-color: #ffffff !important;
      background-image: url(../../assets/img/banner.jpg) !important;
      background-size: 100%;
  }
     */
     .is-invalid {
      border: 1px solid red;
    }